<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <%- include('includes/scheama'); -%>
    </head>
    <body>
        <%- include('includes/menu'); -%>
        <main>
          <table>
                <th colspan="">Countries</th>
                <th colspan="">Country Code</th>
                <th colspan="">Population</th>
                <th colspan="">Governmentform</th>
                <% var options = []; %> <% for(var i = 0; i < showcountry.length; i++) { %>
                <tr>
                    <td><%= showcountry[i].name %></td>
                    <td><%= showcountry[i].code %></td>
                    <td><%= showcountry[i].population%></td>
                    <td><%= showcountry[i].governmentform%></td>
                </tr>
                <% } %>
          </table>
        </main>
    </body>
</html>
