<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('includes/scheama'); -%>
  </head>
  <body>

    <%- include('includes/menu'); -%>

    <main>
      <h2>Start by Choosing a Country</h2>
      <div id="countries">
        <h3>Choose Country</h3>
            <select id="chooseCountry">
                <% var options = []; %> <% for(var i = 0; i < country.length; i++) { %>
                <option value="<%= country[i].code %>"><%= country[i].name %></option>
                <% } %>
            </select>
                <button id="gcit">Click me</button>
      </div>
        
      <div id="cities">
        <div id="getcities">
          <h3>Choose City</h3>
        </div>
      </div>

      <div id="data">
        <div id="citydata">
          <h3>City Data</h3>
        </div>
      </div>
    </main>
        
    </form>
  </body>
</html>
