<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('includes/scheama'); -%>
  </head>
  <body>
    <%- include('includes/menu'); -%>
    <form id="countrySelectForm" action="/country" method="POST">
        <select name="country" size="1">
            <% var options = []; %> <% for(var i = 0; i < country.length; i++) { %>
            <option value="<%= country[i].name %>"><%= country[i].name %></option>
            <% } %>
        </select>
        <input type="submit" value="GOOO" />
    </form>
  </body>
</html>
